<!--
  ~ Copyright (c) 2020-2023.
  ~ OOON.ME ALL RIGHTS RESERVED.
  ~ Licensed under the Mozilla Public License, version 2.0
  ~ Please visit <http://ooon.me> or mail to zhaihao@ooon.me
  -->

<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <conversionRule conversionWord="coloredLevel" converterClass="log.logback.ColoredLevel"/>
    <conversionRule conversionWord="coloredLogger" converterClass="log.logback.ColoredLogger"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/application.log</file>
        <encoder>
            <pattern>%date %coloredLevel %message %coloredLogger{40} %n%xException</pattern>
        </encoder>
    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %coloredLevel %message %coloredLogger{40} %n%xException</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="me.ooon" level="DEBUG"/>

    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="slick.jdbc.PGProfile" level="WARN"/>
    <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG"/>
    <logger name="slick.jdbc.JdbcBackend.parameter" level="debug"/>
    <logger name="slick.jdbc.JdbcBackend.benchmark" level="DEBUG"/>
    <logger name="slick.jdbc.StatementInvoker.result" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="ASYNC_FILE"/>
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>

</configuration>
